{% extends 'base.html' %}
{% load static %}

{% block titulo %} Lista de Produtos {% endblock %}

{% block conteudo %}

    <nav>
        <ul style="display: flex; gap: 15px; list-style: none; padding: 0;">
            {% for c in categorias %}
            <li>
                <a href="{% url 'listarprodutos' c.slug %}" class="btn">{{ c.nome }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    <article>
        <table class="striped" style="width: 100%; text-align: left;">
            <thead>
                <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                {% for p in produtos %}
                <tr>
                    <td>
                        <a href="{% url 'produto_detalhe' p.slug %}">
                            {% if p.imagem %}
                                <img src="{{ p.imagem.url }}" alt="Imagem do {{ p.nome }}" style="max-width: 100px; border-radius: 8px;">
                            {% endif %}
                        </a>
                    </td>
                    <td>{{ p.nome }}</td>
                    <td style="color: green; font-weight: bold;">R$ {{ p.preco }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" style="text-align: center; padding: 20px;">Não existem produtos nesta categoria.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>

{% endblock %}